.personal__img {
    width: 80%;
    justify-content:center ;
    align-self: center;
    box-sizing: border-box;
}

.personal__title {
    font-size: 3rem;
}

.personal__subtitle {
    font-size: 2rem;
}

.personal__info {
    font-size: 18px;
}