.--primary {
    font-size: 1rem;
}
.--bgcolor0 {
    background-color: #FF75A0;
}

.--bgcolor1 {
    background-color: #8644A2;
}

.--bgcolor2 {
    background-color: #9A208C;
}

.--bgcolor3 {
    background-color: #A63EC5;
}

.--title {
    color: #FF75A0;
    font-weight:700;
}

.--funct-element {
    font-size: 1.5rem;
}

.--icon {
    font-size: 3rem;
}

.--card-adj {
    height: 6rem;
    background-color: #E95793;
    font-weight: 500;
}


