.--html {
   color: #e27541;
}

.--css {
    color: #379ad6;
}

.--sass {
    color:#cd6b9f;
}

.--bs {
    color:#533b78;
}

.--git {
    color:#f05030;
}

.--github {
    color:#21252a;
}

.--js {
    color:#e8d44d;
}

.--vue {
    color:#3fb280;
}
